.container {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 83vh;
  gap: 15px;
}

.title {
  font-family: var(--cairo);
  color: var(--green);
  font-weight: bold;
  margin-top: 8px;
}

.btn {
  font-family: var(--cairo);
  font-weight: bold;
  color: var(--black);
  background-color: var(--white);
  border-radius: 10px;
  border: 1px #a09c9c solid;
  width: 50%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.inpt {
  width: 50%;
  height: 30px;
  border: 1px #a09c9c solid;
  background-color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

::placeholder {
  font-family: var(--cairo);
  padding: 10px;
  font-size: 13px;
}

.login_button {
  font-family: var(--cairo);
  font-weight: bold;
  color: var(--white);
  background-color: var(--green);
  border-radius: 10px;
  border: none;
  width: 50%;
  height: 35px;
  cursor: pointer;
  margin-top: 15px;
}

.img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
