.add_book_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 14vh;
}


.cover_Add_book {
    width: 40vh;
}


.divwithbtn {
    display: flex;
    flex-direction: column;
}

.rightAdd {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.leftAdd {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bothdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.addbookbtnn {
    height: 50px;
    border-radius: 10px;
    background-color: #00A560;
    color: white;
    font-size: 14px;
    font-family: cairo;
    font-weight: bold;
    border: transparent;
}

.preview_img {
    width: 350px;
    height: 200px;
    margin-top: 2rem;
}

.iconImg {
    width: 50px;
    height: 50px;
    font-family: cairo;
    font-weight: bold;
    border: transparent;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.textfield_Addbook {
    width: 300px;
}

.bowl_Svg_State {
    width: 100px;
    height: 100px;
}

.svg_type_Book {
    width: 55px;
    height: 55px;
}


@media screen and (max-width: 1000px) {
    .add_book_container {
        flex-direction: column-reverse;
    }

    .cover_Add_book {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 700px) {
    .bothdiv {
        flex-direction: column;
        align-items: center;
    }

    .leftAdd {
        width: 90vw;
    }

    .rating {
        width: 70vw;
        gap: 2px;
        margin: 0 auto;
    }

    .cover_Add_book {
        width: 80vw;
    }

    .bowl_Svg_State {
        width: 70px;
        height: 70px;
    }

    .svg_type_Book {
        width: 35px;
        height: 35px;
    }

    .textfield_Addbook {
        width: 90vw;
    }
}
.bowl_Svg_State.active {
    border: solid 1px #00A560 !important;
}
