* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --cairo: "Cairo", sans-serif;
  --elmessiri: "El Messiri", sans-serif;

  /* Colors */
  --green: #00a560;
  --darkGreen: #0d4e32;
  --black: #000000;
  --black2: #231f20;
  --gray: #a09c9c;
  --white: #ffffff;
  --accentColor: #5630c1;

  /* colors with hover */

  --green_hover: #00a560e7;

  /* hange names */
  --black3: #4D4D4D;

  /* Fonts sizes */
  --titles: 2.3rem;
  --titles_med: 1.9rem;
  --sub_title: 1.5rem;


  /* shadow */
  --shad_3: 0 1px 6px rgba(0, 0, 0, 0.164);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--cairo);
}


a {
  color: var(--black);
  text-decoration: none;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


main {
  margin-top: 12vh;
  min-height: 88vh;
}


button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  height: 100%;
}