.section_home {
    height: 88vh;
    margin: 0 auto;
}

.top_head_s1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100% - 130px);
    font-family: var(--elmessiri);
}

.title_s1_home {
    font-size: var(--titles);
    width: 50%;
    padding: 10px;
    position: relative;
}

.title_s1_home .boros {
    color: var(--darkGreen);
}

.title_s1_home::before {
    background-color: var(--darkGreen);
    content: '';
    position: absolute;
    width: 170px;
    height: 5px;
    border-radius: 20px;
    top: 0;
    right: 0;
    transition: 1s ease-in-out;
}

.title_s1_home:hover::before {
    width: 60%;
}


.lines_s1 {
    width: 300px;
    height: 150px;
    position: relative;
}


.line_s1 {
    position: absolute;
    height: 1px;
    border-radius: 10px;
    background-color: var(--black3);
    transform: rotate(-45deg);
}


.line_s1.l1 {
    width: 52px;
    top: 36%;
    right: 30%;
}

.line_s1.l2 {
    width: 161px;
    top: 65%;
    right: 14%;
}

.line_s1.l3 {
    width: 58px;
    top: 90%;
    right: 35%;
}

.line_s1.l4 {
    width: 80px;
    top: 87%;
    right: 14%;
}

.cover_s1_home {
    /* background-color: lavender; */
    height: 100%;
    width: 450px;
    display: flex;
    justify-content: center;
}


.go_crolling {
    padding: 10px;
    height: 130px;
    display: flex;
    width: 100%;
    cursor: pointer;
    justify-content: center;
}

.content_scroll_down {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.content_scroll_down svg {
    width: 50px;
    transition: .3s ease-in-out;
    height: 50px;
}


.content_scroll_down:hover svg {
    transform: translateY(10px);
}