.container {
    display: flex;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 83vh;
    gap: 15px;
  }
  
  .title {
    font-family: var(--cairo);
    color: var(--green);
    font-weight: bold;
    margin-top: 8px;
  }
  
  .inpt {
    width: 50%;
    height: 30px;
    border: 1px #a09c9c solid;
    background-color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    margin-block-end: 0.5ch;
  }
  select {
    width: 50.8%;
    height: 35px;
    border: 1px #a09c9c solid;
    background-color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    padding: 10px;
    margin-block-end: 0.5ch;
  }
  .state {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: inherit;
    cursor: pointer;
  }
  .dir {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-block-end: 1.5ch;
    margin-left: 5px;
    margin-right: 15px;
  }
  
  ::placeholder {
    font-family: var(--cairo);
    padding: 10px;
    font-size: 13px;
  }
  
  .next_button {
    font-family: var(--cairo);
    font-weight: bold;
    color: var(--white);
    background-color: var(--green);
    border-radius: 10px;
    border: none;
    width: 50%;
    height: 35px;
    cursor: pointer;
    margin-top: 10px;
  }
  .dot1 {
    height: 10px;
    width: 10px;
    background-color: var(--white);
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
    border: 2px var(--green) solid;
  }
  .dot2 {
    height: 10px;
    width: 10px;
    background-color: var(--green);
    border-color: var(--black);
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
    border: 2px var(--green) solid;
  }
  
  .img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  